<div class="card d-flex flex-column border-radius-lg"> 
  <div class="card border border-primary m-3 mb-1 border-radius-lg">
    <div class="card-body">
      <!-- Name -->
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <h5 sclass="mt-3 mb-0">{{ fnb.name }}</h5>
          </div>
        </div>
      </div>
      {% if fnb.opening_hours %}
        <!-- Opening Hours -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-alarm-clock-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Opening Hours:</span>
            <div class="ms-2">
              <ul>
                {% for day, hours in fnb.opening_hours.items %}
                  <li>
                    <span class="text-xs font-weight-bolder">{{ day }}: {{ hours }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- Area -->
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-location-2-1 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Area:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">{{ fnb.area }}</span>
          </div>
        </div>
      </div>
      <!-- Located In -->
      {% if fnb.located_in %}
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-location-2-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Located In:</span>
            <div class="ms-2">
              <span class="text-xs font-weight-bolder">{{ fnb.located_in }}</span>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.address %}
        <!-- Address -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-map-2 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Address:</span>
            <div class="ms-2">
              <span class="text-xs font-weight-bolder">{{ fnb.address }}</span>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.contact %}
        <!-- Contact -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-phone-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Contact:</span>
            <div class="ms-2">
              <span class="text-xs font-weight-bolder">{{ fnb.contact }}</span>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>