<div class="card d-flex flex-column border-radius-lg"> 
  <div class="card border border-primary m-3 mb-1 border-radius-lg">
    <div class="card-body">
      <!-- Name -->
      <div class="row">
        <div class="d-flex">
          <h5 sclass="mt-3 mb-0">{{ fnb.name }}</h5>
          {% if fnb.average_rating %}
          <!-- Average Rating -->
            <span class="badge badge-sm bg-gradient-primary">
              Average Rating: {{ fnb.average_rating|default:"Not rated yet" }} ⭐ ({{fnb.reviews_count}})
            </span>
          {% endif %}
          {% if fnb.halal_certification_expiry_date %}
          <!-- Halal Certification -->
            <span class="badge badge-sm bg-gradient-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ fnb.halal_certification_expiry_date }}">
              Halal Certified
            </span>
          {% endif %}
        </div>
      </div>
      {% if fnb.photo %}
      <!-- Photo -->
        <img src="{{ fnb.photo }}" class="img-thumbnail">
      {% endif %}
      {% if fnb.categories %}
      <!-- Categories -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            {% for category, gradient in fnb.category_gradients %}
                <span class="badge badge-sm {{ gradient }}">{{ category }}</span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if fnb.opening_hours %}
      <!-- Opening Hours -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-alarm-clock-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Opening Hours:</span>
            <div class="ms-2">
              <ul>
                {% for day, hours in fnb.opening_hours.items %}
                  <li>
                    <span class="text-xs font-weight-bolder">{{ day }}: {{ hours }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- Area -->
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-globe-pointer-1 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Area:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">{{ fnb.area }}</span>
          </div>
        </div>
      </div>
      <!-- Located In -->
      {% if fnb.located_in %}
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-location-2-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Located In:</span>
            <div class="ms-2">
              <span class="text-xs font-weight-bolder">{{ fnb.located_in }}</span>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.address %}
      <!-- Address -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-map-2 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Address:</span>
            <div class="ms-2">
              <span class="text-xs font-weight-bolder">{{ fnb.address }}</span>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.phone %}
      <!-- Contact -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-phone-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Phone:</span>
            <div class="ms-2">
              <span class="text-xs font-weight-bolder">{{ fnb.phone }}</span>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.google_map_url %}
      <!-- Google Map Url -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-link-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Google Map Url:</span>
            <div class="ms-2">
              <a class="text-xs font-weight-bolder text-break" href="{{ fnb.google_map_url }}" target="_blank">{{ fnb.google_map_url }}</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.menu_url %}
      <!-- Menu Url -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-pizza-slice-2-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Menu Url:</span>
            <div class="ms-2">
              <a class="text-xs font-weight-bolder text-break" href="{{ fnb.menu_url }}" target="_blank">{{ fnb.menu_url }}</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.website_url %}
      <!-- Website Url -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-link-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Website Url:</span>
            <div class="ms-2">
              <a class="text-xs font-weight-bolder text-break" href="{{ fnb.website_url }}" target="_blank">{{ fnb.website_url }}</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.order_url %}
      <!-- Order Url -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-bicycle-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Foodpanda Order Url:</span>
            <div class="ms-2">
              <a class="text-xs font-weight-bolder text-break" href="{{ fnb.order_url }}" target="_blank">{{ fnb.order_url }}</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if fnb.wordcloud_image %}
      <!-- Wordcloud Image -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-bullhorn-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">What is everyone talking about this FNB?</span>
          </div>
        </div>
      {% endif %}
      <img class="mt-2 img-thumbnail" src="data:image/png;base64,{{ fnb.wordcloud_image }}" alt="Word Cloud for {{ fnb.name }}">
      {% if fnb.reviews %}
      <!-- Top 3 reviews -->
        <div class="row mt-2">
          <div class="d-flex align-items-center">
            <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
              <i class="ni ni-msg-writing-1 text-md opacity-10" aria-hidden="true"></i>
            </div>
            <span class="text-xs font-weight-bolder ms-2">Top 3 recent reviews</span>
          </div>
        </div>
        {% for review in fnb.reviews.all|slice:":3" %}
          <li>
            <span class="text-xs">
              <a href="{{review.reviewer.url}}" target="blank"><b>{{ review.reviewer.name }}</b></a>
              {% if review.reviewer.type %}
                {{ review.reviewer.type }}
              {% endif %}
              {% if review.reviewer.reviews_count %}
                • {{ review.reviewer.reviews_count }} reviews
              {% endif %}
              {% if review.reviewer.photos_count %}
                • {{ review.reviewer.photos_count }} photos
              {% endif %}
          </span>
          <br>
          <span>
            {% if review.rating == 1 %}
              ⭐☆☆☆☆
            {% elif review.rating == 2 %}
              ⭐⭐☆☆☆
            {% elif review.rating == 3 %}
              ⭐⭐⭐☆☆
            {% elif review.rating == 4 %}
              ⭐⭐⭐⭐☆
            {% elif review.rating == 5 %}
              ⭐⭐⭐⭐⭐
            {% endif %}
          </span>
            {% if review.text %}
              <p class="text-sm">{{ review.text }}</p>
            {% endif %}
            {% if review.photos %}
            <!-- Photo -->
              {% for photo in review.photos %}
                <img src="{{ photo }}" class="img-thumbnail">
              {% endfor %}
          {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>