<div class="card d-flex flex-column border-radius-lg"> 
  <div class="card border border-primary m-3 mb-1 border-radius-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <h5 sclass="mt-3 mb-0">Soon Hing BBQ Wantan Mee Restaurant | Taman Equine Branch | 兴烧腊云吞面馆 | Restoran Soon Hing BBQ Wantan Mee</h5>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-location-2-1 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Located In:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">26G, Jalan Equine 1B, Taman Equine, 43300 Seri Kembangan, Selangor</span>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-map-2 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Address:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">26G, Jalan Equine 1B, Taman Equine, 43300 Seri Kembangan, Selangor</span>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-alarm-clock-1 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Opening Hours:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">26G, Jalan Equine 1B, Taman Equine, 43300 Seri Kembangan, Selangor</span>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-phone-1 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Contact:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">26G, Jalan Equine 1B, Taman Equine, 43300 Seri Kembangan, Selangor</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border border-primary m-3 mb-1 border-radius-lg">
    <div class="card-body ">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <h5 sclass="mt-3 mb-0">Soon Hing BBQ Wantan Mee Restaurant | Taman Equine Branch | 兴烧腊云吞面馆 | Restoran Soon Hing BBQ Wantan Mee</h5>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-map-2 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Address:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">26G, Jalan Equine 1B, Taman Equine, 43300 Seri Kembangan, Selangor</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="card border border-primary m-3 border-radius-lg">
    <div class="card-body ">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <h5 sclass="mt-3 mb-0">Soon Hing BBQ Wantan Mee Restaurant | Taman Equine Branch | 兴烧腊云吞面馆 | Restoran Soon Hing BBQ Wantan Mee</h5>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex align-items-center">
          <div class="icon icon-shape-sm bg-gradient-primary shadow text-center border-radius-md">
            <i class="ni ni-phone-1 text-md opacity-10" aria-hidden="true"></i>
          </div>
          <span class="text-xs font-weight-bolder ms-2">Address:</span>
          <div class="ms-2">
            <span class="text-xs font-weight-bolder">26G, Jalan Equine 1B, Taman Equine, 43300 Seri Kembangan, Selangor</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>